# ==========================================
# 1. SERVER
# ==========================================
APP_PORT=:3000
APP_TLS_PORT=:8443
APP_ENV=development

# ==========================================
# 2. DATABASE
# ==========================================
DB_DRIVER=sqlite
DB_NAME=./zeno.db


# ==========================================
# 3. SECURITY
# ==========================================
JWT_SECRET=zenopanel_local_development_jwt_secret_key_change_me_in_prod
# CSRF
CSRF_ENABLED=true
CSRF_EXCEPT=/api,/health
